h2[class = "sunset"]
{
    color: darkgoldenrod;
    background-color: #AEE2FF;
}

h2{
    background-color: #B9F3FC;
}

*{
    text-align: center;
    background-color: #B9F3FC;

}

h1{
    background-color: #FEDEFF;
}

